{% extends "base.html" %}

<!-- БЛОК Заголовка -->
{% block title %}Мир книг (главная){% endblock %}


<!-- БЛОК Контент -->
{% block content %}
<h1>Главная страница</h1>

<!-- {{ user.is_authenticated }}  True/False - вошли ли вы в аккаунт или нет -->
<!-- {{ user.get_username }}  username - вошедшего аккаунта -->

<!-- Аутентификация пользователя на сайте !: -->
{% if user.is_authenticated %}
    {% if user.get_username == 'administrator' %}
    <p>Вы вошли как администратор</p>
    {% else %}
    <p>Вы вошли как пользователь сайта.</p>
    {% endif %}
{% else %}
    <p>Вы вошли как гость</p>
{% endif %}

<p>Добро пожаловать в <em>Мир книг</em>, это очень простой веб-сайт, написанный на Django.
    Разработан на Python в качестве учебного примера с использованием PyCharm</p>
<h2>Динамический контент</h2>
<p>База данных Мир книг содержит следующее количество записей:</p>
<ul>
    <li><b>Количество книг: {{ num_books }}</b></li>
    <li><b>Количество экземпляров книг: {{ num_instances }}</b></li>
    <li><b>Количество экземпляров книг в заказе: {{ num_instances_available }}</b></li>
    <li><b>Количество авторов книг: {{ num_authors }}</b></li>
</ul>
<p><b>Количество посещений данной страницы: - {{ num_visits }}</b></p>
{% endblock %}
