{% extends "base.html" %}

<!-- БЛОК Контент -->
{% block title %} Мир книг ({{ book.title }}){% endblock %}

{% block content %}
  <h2>Название книги: {{ book.title }}</h2>
  <p><b>Жанр:</b> {{ book.genre }}</p>
  <p><b>Аннотация:</b> {{ book.summary }}</p>
  <p><b>ISBN:</b> {{ book.isbn }}</p>
  <p><b>Язык:</b> {{ book.language }}</p>
  <p><b>Автор(ы):</b><a href="">{{ book.get_authors }}</a> </p>

  <h4>Количество экземпляров книг в БД:</h4>
  <ul>
  {% for instance in book.bookinstance_set.all %}
    <li><span class=" {% if instance.status.name == 'на складе' %} text-success
                      {% elif instance.status.name == 'в заказе' %} text-warning
                      {% else %} text-danger
                      {% endif %}">{{ instance }}</span></li>
    <p><b>Издательство:</b>{{ instance.imprint }}</p>
    <p class="text-muted"><b>Инвентарный номер: </b>{{ instance.inv_nom }}</p>
    <p><b>Статус экземпляра книги в БД: </b>{{ instance.status.name }}</p><br><hr>
  {% endfor %}
  </ul>
{% endblock %}